.footer
{
    display: flex;
    width: 800px;
    margin: 20px auto;
    height: 40px;
    border: solid black 3px; 
    padding: 15px;
}
.container
{
    display: flex;
    flex-grow: 1;
    justify-content: center ;
    align-items: center;
}

.profilePhoto
{
width: 100px;
height: 100px;
}