.generalContainerBox
{
    display: flex;
    width: 100%;
    height:750px;
    overflow-y:hidden;
    justify-content: center;
    align-items:end;
    z-index:10;
}
.generalContainer
{
    display: flex;
    flex-direction: column;
    width:fit-content;
    height:fit-content;
    padding: 30px;
    box-shadow:  0 0 10px 0px #001324,
                           inset 0 0 100px 20px #1a2546;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    user-select: none;
    
}

.holderContainer
{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
}

.holderUp
{
    background: white;
    width: 100px;
    height:10px;
}


.timelineContainer {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.timelineItem {
    position: relative;
    padding: 10px 0;
    border-left: 5px groove #0A6ADC;
    padding-left: 15px;
}

.timelineContent{
    position: relative;
    padding-left: 20px;
}

.timelineTitle {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.timelineDate {
    font-size: 14px;
    color: #666;
}

.timelineDescription {
    font-size: 16px;
}

.timelineMarker {
    position: absolute;
    left: 0;
    width: 12px;
    height: 12px;
    background-color: #37AEE2;
    border-radius: 50%;
    border: 2px dashed #fff;
    top: 10px;
}

.timelineArrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px groove #0A6ADC; 
    position: relative;
    top: 20px;
    left:12px;
}


@media screen and (min-width:768px) and (pointer:fine)
{
    .generalContainerBox
{
    position: relative;
    display: flex;
    height: 590px;
    overflow-y: hidden;
    justify-content: center;
    align-items:end;
    transition: all 1s;
}
    .generalContainer
    { 
        transform: translate(0,350px);
        transition: all .5s ease-in;
    }
             
        .generalContainer:hover
    {
        transform: translate(0, 0px);
        box-shadow:  0 0 100px 0px #001324,
                           inset 0 0 100px 20px #1a2546;
        
    }

}